body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
}

.content-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
} 

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 20px 0 20px 200px;  
}

.header-links {
    margin-left: auto;
    flex: 0 0 auto;
    padding: 20px 200px 20px 0;
    font-size: 14px;
    display: flex;
    gap: 20px;
}

.content-one {
    display: flex;
    flex: 1 0 100vw;
    order: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.left-one {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title1 {
    max-width: 400px;
    flex: 1 0 auto;
    font-size: 44px;
    color: #F9FAF8;
    font-weight: 900;
}

.title2 {
    max-width: 350px;
    flex: 0 0 auto;
    color: #E5E7EB;
    font-size: 14px;
}

.sign-up-button1 {
    align-self: flex-start;
    padding: 4px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}

.main-image > img {
    width: 350px;
}

.content-two {
    flex: 1 0 100vw;
    order: 2;
}

.two-header {
    text-align: center;
    border: 1px solid blue;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.image {
    max-width: 100px;
}

.image1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image4 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.content-three {
    background-color: #E5E7EB;
    flex: 1 0 100vw;
    order: 3;
}

.content-four {
    display: flex;
    background-color: #3882F6;
    flex: 1 0 100vw;
    order: 4;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}