body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    margin: auto;
}

.content-one {
    display: flex;
}

.title {
    max-width: 350px
}

.main-image > img {
    width: 350px;
}

.two-header {
    text-align: center;
    border: 1px solid blue;
}

.image1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image4 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}