body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
}

.content-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
} 

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 20px 0 20px 100px;  
}

.header-links {
    margin-left: auto;
    flex: 0 0 auto;
    padding: 20px 200px 20px 0;
    font-size: 14px;
    display: flex;
    gap: 20px;
}

.content-one {
    display: flex;
    flex: 1 0 100vw;
    order: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 15px;
}

.left-one {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title1 {
    max-width: 400px;
    flex: 1 0 auto;
    font-size: 44px;
    color: #F9FAF8;
    font-weight: 900;
}

.title2 {
    max-width: 350px;
    flex: 0 0 auto;
    color: #E5E7EB;
    font-size: 14px;
}

.sign-up-button1 {
    align-self: flex-start;
    padding: 4px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}

.main-image > img {
    width: 350px;
}

.content-two {
    flex: 1 0 100vw;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.two-header {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 12px;
}

.image {
    max-width: 100px;
}

.image1 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #1F2937;
    border-radius: 10px;
}

.image2 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #1F2937;
    border-radius: 10px;
}

.image3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #1F2937;
    border-radius: 10px;
}

.image4 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #1F2937;
    border-radius: 10px;
}

.image-text {
    text-align: center;
}

.content-three {
    background-color: #E5E7EB;
    flex: 1 0 100vw;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-container {
   max-width: 50%;
   border: 1px solid green;
   display: flex;
   flex-direction: column;
}

.quote-text {
    font-size: 22px;
    font-style: italic;
    border: 1px solid purple;
}

.quote-person {
    margin-top: 10px;
    margin-left: auto;
    font-weight: 700;
}

.content-four {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    flex: 0 0 80vw;
    order: 4;
    margin: 60px 80px;
}

.text-button {
    display: flex;
    align-items: center;
}

.four-text {
    display: flex;
    align-items: center;
    color: white;
}

.sign-up-button2 {
    padding: 4px 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    align-self: center;
    margin-left: 30px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}